
/*CSS RESET*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ul li{
  list-style: none;
}

img{
  max-width: 100%;
}

/*ESTILOS GERAIS*/
:root{
  --cor-primaria: #ee2211;
  --cor-primaria-hover: #990000;
  --cor-de-fundo1: #f7f7f7;
  --cor-de-fundo2: #ffffff;
  --cor-de-texto1: #000000;
  --cor-titulo-vantagens: #c6c6c6;
  --cor-onda: url(img/onda-light.svg);
}

@media (prefers-color-scheme: dark){
  :root{
    --cor-de-fundo1: #111111;
    --cor-de-fundo2: #000000;
    --cor-de-texto1: #ffffff;
    --cor-titulo-vantagens: #ffffff33;
    --cor-onda: url(img/onda-dark.svg);
  }
}

body{
  background-color: var(--cor-de-fundo1);
  color: var(--cor-de-texto1);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  display: grid;
  gap: 60px;
}

body p{
  font-size: 1.25rem;
  line-height: 1.3;
  margin: 0;
}

/*HEADER*/
header .img-logo{
  text-align: center;
  margin-bottom: 60px;
}

.img-logo img{
  display: inline;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header nav a{
  background-color:var(--cor-de-fundo2);
  color: var(--cor-de-texto1);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px 30px;
  display: inline-block;
}

header nav a:hover{
  outline: 2px solid var(--cor-primaria-hover);
}

/*MAIN*/
main{
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itemtexto1{
  background-color: var(--cor-de-fundo2);
  text-align: right;
  padding: 40px;
  align-content: center;
  position: relative;
  display: grid;
  gap: 20px;
  justify-items: end;
}

.itemtexto1::after{
  content: "";
  background-color: var(--cor-primaria);
  width: 70px;
  height: 4px;
  position: absolute;
  top: 20px;
  right: -35px;
}

.itemtexto1 h1{
  font-size: 2rem;
}

.itemtexto1 a{
  background-color: var(--cor-primaria);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 15px 30px;
  display: inline-block;
}

.itemtexto1 a:hover{
  background-color: var(--cor-primaria-hover);
}

.imagem img{
  object-fit: cover;
  object-position: top center;
  height: 100%;
  display: block;
}

.titulo-vantagens{
  background-color: var(--cor-de-fundo1);
  background-image: var(--cor-onda);
  color: var(--cor-titulo-vantagens);
  text-transform: uppercase;
  padding: 40px;
  margin: auto;
  display: flex;
}

.titulo-vantagens h2{
  font-size: 4rem;
  text-align: right;
}

.lista-vantagens{
  background-color: var(--cor-de-fundo2);
  padding: 40px;
}

.lista-vantagens .eletrica{
  list-style-image: url(img/eletrica.svg);
}

.lista-vantagens .velocidade{
  list-style-image: url(img/velocidade.svg);
}

.lista-vantagens .rastreador{
  list-style-image: url(img/rastreador.svg);
}

.lista-vantagens ul li{
  list-style-position: inside;
  padding: 10px;
}

.lista-vantagens ul li:hover{
  border-left: 4px solid var(--cor-primaria-hover);
}

.lista-vantagens ul li:nth-child(odd){
  background-color: var(--cor-de-fundo1);
}

.lista-vantagens h3, p{
  padding: 5px;
  display: inline-block;
}

.lista-vantagens p{
  margin-left: 35px;
}

/*FOOTER*/
footer{
  background-color: var(--cor-de-fundo2);
  text-align: center;
  padding: 30px 0;
}

/*RESPONSIVO*/

@media (max-width: 900px){
  main{
    max-width: 650px;
    grid-template-columns: 1fr;
  }
  .itemtexto1{
    text-align: center;
    justify-items: center;
  }
  .itemtexto1::after{
    display: none;
  }
  .imagem img{
    max-width: 70%;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .titulo-vantagens h2{
    text-align: center;
  }
  .lista-vantagens p{
    display: block;
  }
}